
      <a href="/admin/homepage" style="margin-right: 10px;" class="mb-2 btn btn-outline-secondary  <%= @homepage_active%>">Главная страница</a>
   
      <a href="/admin/categories"  style="margin-right: 10px;"  class="mb-2 btn btn-outline-secondary  <%= @category_active%>">Категории</a>
    
      <a href="/admin/items"  style="margin-right: 10px;"  class="mb-2 btn btn-outline-secondary  <%= @items_active%>">Товары</a>
  
      <a href="/admin/collections"  style="margin-right: 10px;"  class="mb-2 btn btn-outline-secondary  <%= @collection_active%>">Коллекции</a>
   
      <a href="/admin/aktions"  style="margin-right: 10px;"  class="mb-2 btn btn-outline-secondary  <%= @aktions_active%>">Акции</a>
  
      <a href="/admin/discount"  style="margin-right: 10px;"  class="mb-2 btn btn-outline-secondary  <%= @discount_active%>">Промо-коды</a>
   
      <a href="/admin/clients"  style="margin-right: 10px;"  class="mb-2 btn btn-outline-secondary  <%= @clients_active%>">Пользователи</a>
    
      <a href="/admin/orders "  style="margin-right: 10px;"  class="mb-2 btn btn-outline-secondary  <%= @order_active%>">Заказы</a>
    
      <a href="/admin/sendmail"  style="margin-right: 10px;"  class="mb-2 btn btn-outline-secondary  <%=@sendmail%>">Рассылка</a>

      <hr>

  