<div class="col-md-3">
  <!-- Sections Menu-->
  <ul class="nav nav-section-menu mb-4 py-3">
    <li class="nav-header">Управление сайтом</li>
    <li>
      <a href="/admin/homepage" class="nav-link first <%= @homepage_active%>">Главная страница<i class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="/admin/categories" class="nav-link <%= @category_active%>">Категории<i class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="/admin/items" class="nav-link <%= @items_active%>">Товары<i class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="/admin/collections" class="nav-link <%= @collection_active%>">Коллекции<i class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="/admin/aktions" class="nav-link <%= @aktions_active%>">Акции<i class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="/admin/discount" class="nav-link <%= @discount_active%>">Промо-коды<i class="fa fa-angle-right"></i> </a>
    </li>

    <li>
      <a href="/admin/clients" class="nav-link ">Пользователи<i class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="/admin/orders " class="nav-link <%= @order_active%>">Заказы<i class="fa fa-angle-right"></i> </a>
    </li>

    <li>
      <a href="/admin/mailer" class="nav-link ">Рассылка<i class="fa fa-angle-right"></i> </a>
    </li>
  </ul>
</div>