<div id="content">
  <div class="container">
    <h4 >
      Административный раздел | Информация о клиенте : <%=@client.client_name%> <%=@client.client_family%>
    </h4>


    <div class="row">

      <%=render 'admin/menu'%>


      <div class="col-md-12">
        <hr>
        <%= form_for  :clientinfo, url: admin_clientinfo_path   do %>
            <div class="form-group row">
              <label for="client_vip" class="col-sm-2">Клиент ВИП?</label>
              <div class="col-sm-10">
                <div class="form-check">
                  <input type="checkbox" <%=@client.client_vip ? 'checked' : ''%>   class="form-check-input" name="client_vip" id="client_vip"   >
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label  for="client_name" class="col-sm-2 col-form-label form_label">Имя</label>
              <div class="col-sm-10">
                <%=text_field_tag  :client_name,@client.client_name, :required => true , class:'form-control', id:'client_name'%>
              </div>
            </div>
            <div class="form-group row">
              <label for="client_family" class="col-sm-2 col-form-label form_label">Фамилия</label>
              <div class="col-sm-10">
                <%=text_field_tag  :client_family,@client.client_family, :required => true , class:'form-control', id:'client_family'%>
              </div>
            </div>
            <div class="form-group row">
              <label for="client_ot4estvo" class="col-sm-2 col-form-label form_label">Отчество</label>
              <div class="col-sm-10">
                <%=text_field_tag  :client_ot4estvo,@client.client_ot4estvo, :required => true , class:'form-control', id:'client_ot4estvo'%>
              </div>
            </div>
            <div class="form-group row">
              <label for="client_passport" class="col-sm-2 col-form-label form_label">Паспортные данные</label>
              <div class="col-sm-10">
                <%=text_field_tag  :client_passport,@client.client_passport, :required => true , class:'form-control', id:'client_passport'%>
              </div>
            </div>
            <div class="form-group row">
              <label for="client_phone" class="col-sm-2 col-form-label form_label">Телефон</label>
              <div class="col-sm-10">
                <%=text_field_tag  :client_phone,@client.client_phone, :required => true , class:'form-control', id:'client_phone'%>
              </div>
            </div>
            <div class="form-group row">
              <label for="client_email" class="col-sm-2 col-form-label form_label">E-Mail</label>
              <div class="col-sm-10">
                <%=text_field_tag  :client_email,@client.client_email, :required => true ,type:'email', class:'form-control', id:'client_email'%>
              </div>
            </div>
            <div class="form-group row">
              <label for="client_country" class="col-sm-2 col-form-label form_label">Страна</label>
              <div class="col-sm-10">
                <%=text_field_tag  :client_country,@client.client_country, :required => true , class:'form-control', id:'client_country'%>
              </div>
            </div>
            <div class="form-group row">
              <label for="client_city" class="col-sm-2 col-form-label form_label">Город</label>
              <div class="col-sm-10">
                <%=text_field_tag  :client_city,@client.client_city, :required => true , class:'form-control', id:'client_city'%>
              </div>
            </div>
            <div class="form-group row">
              <label for="client_post_code" class="col-sm-2 col-form-label form_label">Индекс</label>
              <div class="col-sm-10">
                <%=text_field_tag  :client_post_code,@client.client_post_code, :required => true , class:'form-control', id:'client_post_code'%>
              </div>
            </div>
            <div id="orders" class="form-group row">
              <label for="client_address" class="col-sm-2 col-form-label form_label">Адрес</label>
              <div class="col-sm-10">
                <%=text_field_tag  :client_address,@client.client_address, :required => true , class:'form-control', id:'client_address'%>
              </div>
            </div>
            <div id="client_password" class="form-group row">
              <label for="client_address" class="col-sm-2 col-form-label form_label">Пароль</label>
              <div class="col-sm-10">
                <%=text_field_tag  :client_password,@client.client_password, :required => true , class:'form-control', id:'client_password'%>
              </div>
            </div>
            <hr>
            <div id="orders" class="form-group row">
              <label for="client_comment" class="col-sm-2 col-form-label form_label">Комментарий к клиенту</label>
              <div class="col-sm-10">
                <%=text_area_tag  :client_comment,@client.client_comment, :required => true , class:'form-control', id:'client_comment'%>
              </div>
            </div>
            <input  name="client_action" value="update" type="hidden" />
            <input  name="client_id" value="<%=@client.id%>" type="hidden" />
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-10">
                <button type="submit"  class="btn btn-primary">Обновить информацию</button>
              </div>
            </div>

        <%end%>

        <hr>
        <h4 >
          Заказы клиента
        </h4>
        <table width="100%">
          <tr>
            <td>№</td>
            <td>Дата</td>
            <td>Номер</td>
            <td>Статус</td>
            <td>Сумма</td>
            <td>Доставка</td>
          </tr>
          <%@cl_orders.each do |o|%>
              <tr>
                <td><%=o.id%></td>
                <td><%=o.created_at%></td>
                <td><a href="/admin/order_info?order_id=<%=o.id%>"><%=o.order_number%></a> </td>
                <td><%=o.order_status%></td>
                <td><%=o.order_summ%></td>
                <td>
                  <% case o.order_dostavka%>
                  <% when '1'%>
                      Курьерская доставка
                  <% when '2'%>
                      Самовывоз
                  <% when '3'%>
                      Транспортная компания
                  <%  end%>
                </td>

              </tr>
          <%end%>
        </table>

      </div>
    </div>
  </div>
</div>
