<div id="content">
  <div class="container">
    <h4 class="title-divider">
      Административный раздел | Главная страница
    </h4>


    <div class="row">

      <%=render 'admin/menu'%>


      <div class="col-md-9">
        <h4> Отображаемые слайды</h4>
        <table class="table table-striped">
          <thead>
          <tr>

            <th>Картинка</th>
            <th>Заголовлок - Текст1</th>
            <th>Заголовлок - Текст2</th>
            <th>Текст ссылки</th>
            <th>Ссылка</th>
            <th>Действие</th>
          </tr>
          </thead>
          <tbody>


          <%@slides.each do |s|%>

              <tr>
                <td><img src="/images/slider/<%=s.slider_image%>" width="200"></td>
                <td><%=s.slider_text1%></td>
                <td><%=s.slider_text2%></td>
                <td><%=s.slider_text3%></td>
                <td><%=s.slider_url%></td>
                <td><a href="/addslide?id=<%=s.id%>">Удалить</a></td>
              </tr>
          <%end%>
          </tbody>
        </table>

        <hr>
        <h4 class="title-divider">
          Добавить новый слайд
        </h4>
        <%= form_for  :addslide, url: addslide_path   do |f|%>
            <div class="col-sm-12">
              <p>Картинка (1920x600-800)  :
                <%= f.file_field :slide_image, :required => true %>
            </div>
            <div class="col-sm-12">
              <p> Заголовок (Текст1) :
                <%=f.text_field  :slide_text1, :required => true , class:'form-control'%></p>
            </div>
            <div class="col-sm-12">
              <p>Заголовок (Текст2) ::
                <%=f.text_field  :slide_text2, :required => true , class:'form-control'%></p>
            </div>
            <div class="col-sm-12">
              <p>Текст сслылки :
                <%=f.text_field  :slide_text3, :required => true , class:'form-control'%></p>
            </div>
            <div class="col-sm-12">
              <p>Ссылка :
                <%=f.text_field  :slide_url, :required => true , class:'form-control'%></p>
            </div>



              <%= submit_tag 'Добавить слайд' , class:'btn btn-primary'%>
        <% end %>

      </div>
    </div>
  </div>
</div>