<div id="content">
  <div class="">
    <h4 >
      Административный раздел | Товары
    </h4>
<br/>

    <div class="row">

      <%=render 'admin/menu'%>


      <div class="col-md-9">


        <div class="row">
          <div class="col-lg-12 mb-3 mb-lg-0">
            <form action="/admin/items" class="form-inline justify-content-lg-start text-sm" method="get">

                    <label class="control-label mr-2">Поиск по :</label>

                    <input id="searchtxt" type="text" class="form-control form-control-sm mr-lg-2" name="search" placeholder="названию товара">

                    <input id="searchtxtarticle" type="text" class="form-control form-control-sm mr-lg-2" name="article" placeholder="артиклу">

                    <label class="control-label mr-2">Сортировка:</label>

                    <select id="sort_select" name='sort_type' class="form-control form-control-sm">
                      <option value="1">Название A-Я</option>
                      <option value="2">Название Я-А</option>
                      <option value="3">Цена +</option>
                      <option value="4">Цена -</option>
                      <option value="5">Скидка +</option>
                      <option value="6">Скидка -</option>
                      <option value="7">Дата добавления</option>

                    </select>

                    <label  class="control-label mr-2 ml-lg-3">Отображать:</label>

                    <select  name="pp" class="form-control form-control-sm">
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                      <option value="30">30</option>
                      <option value="35">35</option>
                      <option value="40">40</option>
                      <option value="45">45</option>
                      <option value="50">50</option>
                    </select>


              <button type="submit">Применить</button>
            </form>

          </div>

        </div>
        <hr>
        <table class="table" style="text-align: center;">
          <tbody>
          <tr>
            <td style="width: 10%;"></td>
            <td style="width: 30%;">Категория/Подкатегория</td>
            <td style="width: 30%;">Название</td>
            <td style="width: 5%;">Артикул</td>
            <td style="width: 5%;">Цена роз.</td>
            <td style="width: 5%;">Цена опт.</td>
            <td style="width: 5%;">Скидка %</td>
            <td style="width: 2%;"></td>
            <td style="width: 2%;"></td>
          </tr>
          <%@items.each do |i|%>
              <tr>
                <td><img src="/images/items/<%= i.id%>/<%= i.item_image1%>" width="100"></td>
                <td><%=i.subcategory.category.cat_name%> / <a href="/admin/showsubcategory?subcat_id=<%= i.subcategory.id%>"><%=i.subcategory.subcat_name%></a></td>
                <td><%=i.item_name%></td>
                <td><%=i.item_article%></td>
                <td><%=i.item_price%></td>
                <td><%=i.item_opt_price%></td>
                <td><%=i.item_discount%></td>
                <td><a href="/admin/edititem?item_id=<%=i.id%>"><i class="far fa-edit" ></i></a> </td>
                <td><a href="/admin/deleteitem?item_id=<%=i.id%>"><i class="fas fa-trash-alt" ></i></a> </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="digg_pagination">

          <%= will_paginate @items,:previous_label => t("<<"), :next_label => t(">>"), :container => false %>
        </div>
      </div>
    </div>
  </div>
</div>

<script language="JavaScript">
    $('#mancatselect').change(function(){
        $.ajax({
            url: "/admin/getsubcat",
            type: "GET",
            data: {'cat_id' : $('#mancatselect option:selected').val() },
        })
    });
    $('#new_mancatselect').change(function(){
        $.ajax({
            url: "/admin/getsubcat",
            type: "GET",
            data: {'cat_id' : $('#new_mancatselect option:selected').val() },
        })
    });

    $('.summernote-5').summernote();
    $('.note-popover').css('display', 'none');
    $("#item_size").mask("99.99x99.99x99.99", {placeholder: "00.00х00.00х00.00" });
    const checkbox1 = $("#item_discount");

    checkbox1.change(function(event) {
        var checkbox1 = event.target;
        if (checkbox1.checked) {
            $('#item_discount_val').removeAttr('disabled');
        } else {
            $("#item_discount_val").attr("disabled","disabled").focus();
        }
    });
    const checkbox2 = $("#add_coll");
    checkbox2.change(function(event) {
        var checkbox2 = event.target;
        if (checkbox2.checked) {
            $('#collections_select').removeAttr('disabled');
        } else {
            $("#collections_select").attr("disabled","disabled")
        }
    });
    const checkbox3 = $("#add_aktion");
    checkbox3.change(function(event) {
        var checkbox3 = event.target;
        if (checkbox3.checked) {
            $('#aktion_select').removeAttr('disabled');
        } else {
            $("#aktion_select").attr("disabled","disabled")
        }
    });
    function getSearchParams(k){
        var p={};
        location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){p[k]=v})
        return k?p[k]:p;
    }
    if (getSearchParams('sort_type')!== undefined){
        $('#sort_select').val(getSearchParams('sort_type')).attr("selected", "selected");
    }
    if (getSearchParams('search')!== undefined){
    $('#searchtxt').val(decodeURIComponent(getSearchParams('search')));
    }
    if (getSearchParams('article')!== undefined){
        $('#searchtxtarticle').val(decodeURIComponent(getSearchParams('article')));
    }
</script>