<div id="content" class="py-5">
  <div class="container">

    <h4 class="mt-5">
      Ваш заказ
    </h4>
    <!--Shopping cart items-->
    <table class="table table-responsive mb-0 cart-table">
      <thead>
      <tr>
        <th class="w-5"></th>
        <th class="w-10"></th>
        <th class="w-20">Название</th>
        <th class="w-20">Цена</th>
        <th class="w-20">Количество</th>
        <th class="w-20 text-md-right">Всего</th>
      </tr>
      </thead>
      <tbody>
      <%= form_for :checkout, url:checkout_path do |f|%>

        <%@cart.each do |cc|%>

          <tr>
            <td class="text-center align-middle">
              <a href="/remove/<%=cc.id%>" class="close cart-remove"> <i class="fa fa-times"></i> </a>
            </td>
            <td class="text-center">
              <a href="#">
                <img class="cart-img img-fluid" src="/images/items/<%=cc.id%>/<%=cc.item_image1 %>" alt="Купить <%=cc.item_name %> оптом">
              </a>
            </td>
            <td> <span class="font-weight-bold"><%=cc.item_name %></span> </td>
            <td>
              <%if session[:cart][cc.id.to_s] >= cc.item_opt_price_count  %>

                <span style="font-size: 10px;" class="badge badge-primary">ОПТОВАЯ ЦЕНА</span> <span class="text-primary cart_item_bold"> <%= cc.item_opt_price%> </span> &#8381;
                <%session[:cart_total] = session[:cart_total] + (cc.item_opt_price* session[:cart][cc.id.to_s])%>
                <span style="display: none;" id="iiitem<%=cc.id%>_price_total"><%= @item_total=cc.item_opt_price* session[:cart][cc.id.to_s]%></span>

              <%else%>
                <%if cc.item_discount > 0%>
                                      <span id="item<%=cc.id%>_cur_price">
                                      <%=cc.item_price - (cc.item_price * cc.item_discount / 100)%></span> &#8381;
                  <%session[:cart_total] = session[:cart_total] + (cc.item_price - (cc.item_price * cc.item_discount / 100))* session[:cart][cc.id.to_s]%>
                  <span style="display: none;" id="iiitem<%=cc.id%>_price_total"><%=@item_total=(cc.item_price - (cc.item_price * cc.item_discount / 100))* session[:cart][cc.id.to_s]%></span>

                <%else%>
                                      <span id="item<%=cc.id%>_cur_price">
                                      <%= cc.item_price%></span> &#8381;
                  <%session[:cart_total] = session[:cart_total] + (cc.item_price* session[:cart][cc.id.to_s])%>
                  <span style="display: none;" id="iiitem<%=cc.id%>_price_total"><%=@item_total=cc.item_price* session[:cart][cc.id.to_s]%></span>

                <%end%>
              <%end%>

            </td>
            <td>
              <div class="input-group input-group-quantity" data-toggle="quantity">
                  <span class="input-group-append">
                    <input type="button" value="-" onclick="return show_butt();" class="btn btn-secondary quantity-down" field="quantity">
                  </span>
                <input type="text" name="<%=cc.id%>" onchange="return show_butt();" min="1" value="<%= session[:cart][cc.id.to_s] %>" class="quantity form-control">
                <span class="input-group-append">
                    <input type="button" value="+" onclick="return show_butt();" class="btn btn-secondary quantity-up" field="quantity">
                  </span>
              </div>
            </td>
            <td class="text-md-right"><span class="font-weight-bold"><%= @item_total%> &#8381;</span></td>
          </tr>
        <%end%>
        <input  name="editcart" value="1" type="hidden" />

        <button style="display: none;" id="recheck" class="btn btn-primary btn-rounded btn-lg"  type="submit">Пересчитать корзину</button>
      <%end%>
      </tbody>
    </table>
    <!--End of Shopping cart items-->
    <hr class="my-4 hr-lg">
    <div class="cart-content-footer">
      <div class="row">
        <div class="col-md-4">
          <h6 class="text-muted mb-3">
            Введите промо-код, для получения дополнительной скидки
          </h6>
          <!-- Discount form -->
          <%= form_for :discount,url: discount_path, remote: true do |f|%>
            <div class="input-group">
              <label class="sr-only" for="discount">Купон на скидку</label>
              <input  class="form-control" name="discount_code" required="required" placeholder="Купон на скидку">
              <span class="input-group-append">
                    <button type="submit" id="discount-button" class="btn btn-dark" type="button">Применить</button>
                  </span>
            </div>
          <%end%>
        </div>

        <div class="col-md-8 text-md-right mt-3 mt-md-0">

          <div class="cart-content-totals">
            <h4 class="font-weight-light">
              Всего:<span id="vsego"> <%=session[:cart_total]%></span> &#8381;
            </h4>
            <h4 id="discount-container" class="font-weight-light" style="display: none;">
              <span id="discount-value"> Скидка по промо-коду (0%)</span>: <span id="discount-result" class="text-danger">0 </span> &#8381;
            </h4>
            <hr class="my-3 w-50 ml-0 ml-md-auto mr-md-0">
            <h3>
              ИТОГО: <span id="cart-total" class="text-primary"><%=session[:cart_total]%> </span> &#8381;
            </h3>
            <hr class="my-3 w-50 ml-0 ml-md-auto mr-md-0">
          </div>

        </div>
      </div>
    </div>
    <h4>
      Почтовый адрес (Адрес доставки)
    </h4>
    <div class="mb-4 bg-light p-3 rounded mb-4" id="billing">
      <%= form_for  :placeorder, url: placeorder_path, :html => { :class => 'guest_form'}   do |f|%>
      <div class="row">
        <% if session[:client_data_bad]%>
          Вы не полностью внесли данные о себе, это необходимо для размещения заказа.<br>
          <a href="/profile" class="btn btn-primary">Редактировать данные</a>
          <% else %>
          Используются данные из Вашего профиля <a href="/profile" class="btn btn-sm btn-outline-primary">профиля</a> .
      <% end %>



          </div>
          </div>
          <h4>
            Способ доставки товара
          </h4>
          <div  class="bg-light p-3 rounded">
            <fieldset class="form-group">

              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="member_dostavka"  value="1" required="required">
                  <strong>Курьерская доставка</strong> (Стоимость доставки курьером расчитывается индивидуально. Подробности уточните у менеджера)
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="member_dostavka"  value="2" required="required">
                  <strong>Самовывоз</strong> (Услуга бесплатна. Вы оплачиваете только стоимость заказа)
                </label>
              </div>
              <div class="form-check disabled">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="member_dostavka"  value="3" required="required">
                  <strong>Транспортная компания</strong> (Стоимость доставки с помощью ТК расчитывается индивидуально. Подробности уточните у менеджера)
                </label>
              </div>
            </fieldset>
          </div>
          <h4>
            Способ оплаты товара
          </h4>
          <div  class="bg-light p-3 rounded">
            <fieldset class="form-group">

              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="member_oplata" value="1" required="required">
                  <strong>Оплата при доставке</strong>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="member_oplata" value="2" required="required">
                  <strong>Расчетный счет</strong>
                </label>
              </div>
              <div class="form-check disabled">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="member_oplata" value="3" required="required">
                  <strong>Оплата банковской картой</strong>
                </label>
              </div>
            </fieldset>
          </div>
          <!-- Proceed to checkout -->
          <a href="<%= request.referer%>" class="btn btn-outline-primary btn-rounded btn-lg">Продолжить покупки</a>
        <% if session[:client_data_bad]%>
          <button type="submit" class="btn btn-primary btn-rounded btn-lg" disabled>Оформить заказ</button>
        <% else %>
          <button type="submit" class="btn btn-primary btn-rounded btn-lg">Оформить заказ</button>
        <% end %>



          <!-- Cart Summary -->
        <% end %>
        </div>
</div>

<script language="JavaScript">
    function show_butt() {
        $("#recheck").css('display','block');

        return true;
    }
</script>