

<!-- ======== @Region: body ======== -->


<!-- @plugin: page loading indicator, delete to remove loader
<div class="page-loader" data-toggle="page-loader"></div> -->

<a id="#top" href="#content" class="sr-only">Skip to content</a>

<!-- ======== @Region: #header ======== -->


<!-- ======== @Region: #highlighted ======== -->
<div id="highlighted">
  <!-- Showshow - Slider Revolution see: plugins/slider-revolution/examples&sources for help invoke using data-toggle="slider-rev" options can be passed to the slider via HTML5 data- ie. data-startwidth="960" -->
  <div class="slider-wrapper rev_slider_wrapper bg-black" data-page-class="slider-appstrap-theme">
    <div class="rev_slider" data-toggle="slider-rev" data-settings='{"startwidth":1100, "startheight":500, "delay":10000}'>
      <ul>
    <%@slides.each do |slide|%>
        <li class="slide overlay overlay-op-2" data-transition="fadethroughdark" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Summer" data-mediafilter="earlybird">
          <!-- MAIN IMAGE -->
          <img src="/images/slider/<%=slide.slider_image%>" alt="Background image" data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina />
          <!-- LAYERS -->
          <!-- SLIDE 1 Content-->
          <div class="slide-content container">
            <!--elements within .slide-content are pushed below navbar on "behind"-->
            <!-- Layer 1 -->
            <div class="tp-caption text-grey" data-x="['left','left','left','left']" data-hoffset="['0','0','0','40']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['140','140','140','140']" data-fontsize="['52','52','52','52']" data-lineheight="['52','52','52','52']" data-width="420" data-height="none" data-whitespace="normal" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1200,"to":"o:1;","delay":1300,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="left">
                  <span class="font-weight-bold text-uppercase text-white">
                    <%=slide.slider_text1%>
                    <br />
                    <%=slide.slider_text2%>
                  </span>
            </div>
            <!-- Layer 3 -->
            <div class="tp-caption text-grey" data-x="['left','left','left','left']" data-hoffset="['0','0','0','40']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['80','80','80','80']" data-fontsize="['20','20','20','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","delay":1400},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']"><a href="<%=slide.slider_url%>" class="btn btn-primary" ><%=slide.slider_text3%></a>
            </div>
            <!-- Layer 3
            <div class="tp-caption rs-parallaxlevel-8" data-frames='[{"from":"o:0;sX:3;sY:3;","speed":1500,"to":"o:0.10;sX:3;sY:3;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1200,"to":"x:[100%];","ease":"Power3.easeInOut"}]' data-x="left" data-y="bottom" data-hoffset="0" data-voffset="0" data-width="none" data-height="none" data-type="image" data-basealign="slide"> <i class="fa fa-bullseye icon-25x icon-bg op-1 text-white"></i>
            </div> -->
            <!-- Layer 4-->
            <div class="tp-caption tp-resizeme bg-primary-bright" data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' data-x="['left','left','left','left']" data-hoffset="['0','0','0','40']" data-y="bottom" data-voffset="120" data-width="355" data-height="4" data-basealign="slide"></div>
          </div>
        </li>
    <%end%>
     </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!--end of tp-banner-->
  </div>
</div>

<!-- ======== @Region: #content ======== -->
<div class="container py-4 d-none d-lg-block">
    <div class="row text-center ">
    <div class="col-lg-4 py-2">
      <table class="">
        <tbody>
        <tr>
          <td style="text-align: right;"><i class="fas fa-boxes" style="font-size: 25px;"></i></td>
          <td style="    padding-left: 20px;
              border-right: 1px solid #e5e5e5;
              padding-right: 35px;"><strong>АССОРТИМЕНТ</strong><br/>
            Наш ассортимент начинается с 1000000 товаров

          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-lg-4 py-2">
      <table class="">
        <tbody>
        <tr>
          <td style="text-align: right;"><i class="fa fa-truck" style="font-size: 25px;"></i></td>
          <td style="    padding-left: 20px;
              border-right: 1px solid #e5e5e5;
              padding-right: 35px;"><strong>ДОСТАВКА</strong><br/>
            Мы осуществляем доставку во все регионы России
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-lg-4 py-2">
      <table class="">
        <tbody>
        <tr>
          <td style="text-align: right;"><i class="fa fa-truck" style="font-size: 25px;"></i></td>
          <td style="padding-left: 20px;"><strong>ТЕКСТ</strong><br/>
            текст
          </td>
        </tr>
        </tbody>
      </table>

    </div>


  </div>
</div>
<div style="border-bottom: solid 1px #e5e5e5; padding-bottom: 0px !important;">
</div>

  <div class="container py-4 py-lg-6">
    <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
    <h2 class="text-center text-uppercase font-weight-bold my-0">
      АССОРТИМЕНТ ТОВАРОВ
    </h2>
    <!--   <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
      ЧТО ТУТ НАПИСАТЬ???????????
    </h5> -->
    <hr class="mb-5 w-50 mx-auto" />
    <div class="cbp " data-toggle="cbp" data-settings='{ "layoutMode":"grid", "sortToPreventGaps": false, "gapHorizontal": 10, "gapVertical": 10, "mediaQueries": [ { "width": "900", "cols": "3" }, { "width": "380", "cols": "1" }, { "width": 0, "cols": 1 } ]
}'>




      <%  @cat_all.each do |cat|%>
      <div class="cbp-item d-lg-flex mb-3 hover-shadow" data-animate="fadeIn" data-animate-delay="0.2">
        <div class="flex-ew ">
          <!-- singlePage content is loaded via ajax by adding a URL to the file containing the content in the href="FILE-WITH-CONTENT.htm -->
          <a href="/category/<%=cat.cat_name_translit%>" class="cbp-caption " data-title="" rel="nofollow">
            <div class=" cbp-caption-defaultWrap text-center px-3 py-7 overlay overlay-gradient overlay-op-6 flex-valign" data-bg-img="/images/maincategory/<%=cat.cat_image%>">



            </div>
            <div class="cbp-caption-activeWrap ">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><h2 class="text-uppercase"><%=cat.cat_name%></h2>  </div>
                  <hr class="hr-lg mt-2 mb-0 w-20 mx-auto hr-primary" />
                  <div class="cbp-l-caption-desc"></div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <%end%>
    </div>


  </div>
<div class="container  text-center">
  <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary">
  <h2 class="text-center text-uppercase font-weight-bold my-0">
   КОЛЛЕКЦИИ
  </h2>

  <hr class="mb-5 w-50 mx-auto">
  <div class="cbp " data-toggle="cbp" data-settings='{ "layoutMode":"grid", "sortToPreventGaps": false, "gapHorizontal": 15, "gapVertical": 15, "mediaQueries": [ { "width": "800", "cols": "3" }, { "width": "480", "cols": "2" }, { "width": 0, "cols": 1 } ]
}'>
    <% @collections.each do |coll| %>
        <div class="cbp-item d-lg-flex mb-3 hover-shadow" data-animate="fadeIn" data-animate-delay="0.2">
          <div class="flex-ew ">
            <!-- singlePage content is loaded via ajax by adding a URL to the file containing the content in the href="FILE-WITH-CONTENT.htm -->
            <a href="/collection/<%= coll.collection_name_translit %>" class="cbp-caption" data-title="" rel="nofollow">
              <div class=" cbp-caption-defaultWrap text-center px-3 py-7 overlay overlay-gradient overlay-op-6 flex-valign" data-bg-img="/images/collections/<%= coll.collection_image %>">



              </div>
              <div class="cbp-caption-activeWrap ">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title"><h2 class="text-uppercase"> <%= coll.collection_name %></h2>  </div>
                    <hr class="hr-lg mt-2 mb-0 w-20 mx-auto hr-primary" />
                    <div class="cbp-l-caption-desc"></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
    <% end %>
  </div>

</div>
  <!-- Featured Products -->
  <div id="features" class="container py-4 py-lg-6">
    <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
    <h2 class="text-center text-uppercase font-weight-bold my-0">
      АКЦИИ И СКИДКИ
    </h2>

    <hr class="mb-5 w-50 mx-auto" />
    <!-- Products cards -->
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <!-- Product -->
        <%@action_items.each do |item|%>
        <div class="card product-card hover-shadow">
          <!-- Hover content -->

          <%if item.item_new %>
            <div class="card-ribbon card-ribbon-top card-ribbon-left bg-warning text-white"> НОВИНКА </div>
          <%end%>
          <%if item.collection_id > 0 %>
            <div class="card-ribbon card-ribbon-bottom card-ribbon-right bg-success text-white"> В КОЛЛЕКЦИИ </div>
          <%end%>




          <!-- Image & price content -->
          <div class="pos-relative">
            <a href="/product/<%=item.item_name_translit%>">
            <img class="card-img-top img-fluid" src="/images/items/<%=item.id%>/<%=item.item_image1%>" alt="Купить <%=item.item_name%> в Москве по оптовым ценам">
            </a>
            <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-r mt-2 mr-2 persist">
              - <%=item.item_discount%> %</span>

          </div>

          <!-- Content -->
          <div class="card-body">
            <small class="text-muted text-uppercase"><span class="text-primary"> <a href="/category/<%=item.subcategory.category.cat_name_translit%>"><%= item.subcategory.category.cat_name%></a></span> / <a class="text-muted" href="/subcategory/<%=item.subcategory.subcat_name_translit%>"><%= item.subcategory.subcat_name%></a> </small>
            <h4 class="card-title">
              <a href="/product/<%=item.item_name_translit%>" class="text-uppercase text-black" style="text-decoration: none;"><%= item.item_name%></a>
            </h4>
          </div>
          <div class="card-footer">
            Цена : <del class="op-5">&#8381; <%=item.item_price%></del>
            /
            <%=item.item_price - (item.item_price * item.item_discount / 100)%> &#8381;
            <%if item.item_presents%>
              <p class="text-muted text-uppercase text-xs mb-0"><span class="badge badge-success">товар в наличии</span> </p>
            <% else %>
              <p class="text-muted text-uppercase text-xs mb-0"><span class="badge badge-warning">временно нет в наличии</span> </p>
            <% end %>
          </div>
        </div>
        <!-- Product -->
       <% end %>
      </div>
    </div>
  </div>

  <!-- Collections -->

  <!-- Feature Blocks -->
  <div class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-dark" data-bg-img="http://www.astroguide.ru/files/article/54064/main-image/1404_11.jpg"></div>
        <div class="col-lg-6 py-6">
          <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
          <h2 class="display-4 text-white text-uppercase mt-0 mb-5">
            Сувениры <span class="text-primary font-weight-bold">оптом</span>
          </h2>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x op-8"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">

              <p>Оптовый интернет-магазин подарков и сувениров «Лакшми» предлагает своим покупателям большой выбор
                товаров на любой вкус, бюджет и повод. У нас можно заказать традиционные сувениры или оригинальные презенты.
                </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x op-8"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">

              <p>На сайте можно купить подарки оптом для реализации в своем магазине или для близких людей и коллег на
                Новый год, 8 Марта, День Победы и другие праздники. Решив купить сувениры оптом, с «Лакшми» вы
                сэкономите деньги и время на поиск, выбор и покупку презентов.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Latest trends block -->
  <div class="bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 offset-lg-1 py-6">
          <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
          <h2 class="display-4  text-grey-dark text-uppercase mt-0 mb-5">
            Наш <span class="text-primary font-weight-bold">ассортимент</span>
          </h2>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center">
            </div>
            <div class="col-10 col-md-11">
              <p>
              <ul style="list-style-type:square !important; ">
                <li>сувениры для мужчин и женщин, для бизнеса и интерьера: подарочные наборы «Сомелье», 3D-скульпторы, посуду, композиции из цветов и кристаллов и др.;</li>
                <li>фэншуй-продукцию для тех, кто заботится об энергетике в доме и офисе: ловушки снов, восточные фонтаны, амулеты и т. п.;</li>
                <li>галантерейные изделия: от зонтов до украшений для волос;</li>
                <li>игрушки для детей: куклы, лазерные указки, скутеры и проч.;</li>
                <li>настольные игры – интеллектуальные, семейные и для взрослой компании.</li>
              </ul>
              </p>

            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center">
            </div>

          </div>
        </div>
        <div class="col-lg-6 divider-diagonal divider-light" data-bg-img="https://timeforwoman.ru/upload/resize_cache/iblock/d6c/700_1000_1/Feng_Shui_beautifully_bokeh______d_4300x3047.jpg"></div>
      </div>
    </div>
  </div>
  <!-- Beach 2017 -->
  <div class="bg-primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="https://www.sunhome.ru/i/wallpapers/57/kitaiskii-fen-shui.960x540.jpg"></div>
        <div  class="col-lg-6 py-6">
          <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
          <h2 class="display-4  text-grey text-uppercase mt-0 mb-5">
            Наши <span class="text-white font-weight-bold">преимущества</span>
          </h2>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-white icon-2x op-8"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">
              <h4 class="font-weight-bold text-white text-uppercase">
                Широкий ассортимент
              </h4>
              <p>
                Купить сувениры в интернет-магазине «Лакшми» можно для личных
                (дни рождения, юбилеи, годовщины и т. д.), профессиональных (день учителя, бухгалтера и др.)
                или календарных праздников. На сайте регулярно обновляется и пополняется товарная линейка,
                поэтому вы всегда сможете купить подарки оптом в Москве или другом городе, идеально подходящие к поводу.
              </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-white icon-2x op-8"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">
              <h4 class="font-weight-bold text-white text-uppercase">
                Доступные цены
              </h4>
              <p>
                Если вы хотите приобрести сувениры оптом дешево, следите за акциями,
                которые регулярно проводит наш интернет-магазин подарков в Москве. Оптовые цены действуют
                при заказе на сумму от 3000 рублей. Также вы можете получить единовременную скидку при покупке от
                20 000 рублей. Уточнить условия вы можете у менеджеров нашего магазина подарков оптом.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- New Products -->

</div>

<script language="JavaScript">
    var $grid = $('.grid').masonry({
        itemSelector: '.grid-item',
        percentPosition: true,
        columnWidth: '.grid-sizer',
        gutter: 10

    });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
        $grid.masonry();
    });
</script>




