
<!-- ======== @Region: body ======== -->


<!-- @plugin: page loading indicator, delete to remove loader
<div class="page-loader" data-toggle="page-loader"></div> -->

<a id="#top" href="#content" class="sr-only">Skip to content</a>

<!-- ======== @Region: #header ======== -->


<!-- ======== @Region: #highlighted ======== -->
<div id="highlighted" class=" mt-3">
<br>
  <div class="bd-example container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <%f_id = @slides.first.id%>
        <%@slides.each do |slide|%>
        <div class="carousel-item <%= slide.id == f_id ? 'active' : ''%> ">
          <a href="<%=slide.slider_url%>">


                    <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [800x400]" src="/images/slider/<%=slide.slider_image%>" data-holder-rendered="true">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <h1> <%=slide.slider_text1%></h1>
            <p> <%=slide.slider_text2%></p>
          </div>
        </div>
        <%end%>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


</div>

<!-- ======== @Region: #content ======== -->


<div class="container py-4 py-lg-6">
  <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
  <h2 class="text-center text-uppercase font-weight-bold my-0">
    КАТАЛОГ ТОВАРОВ
  </h2>
  <!--   <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
    ЧТО ТУТ НАПИСАТЬ???????????
  </h5> -->
  <hr class="mb-5 w-50 mx-auto" />

  <div class="row">
    <div class="col-lg-4 d-flex" style="padding-bottom: 25px; height: 250px;">
      <div class="p-5 py-lg-6 overlay overlay-op-1  flex-ew hover-shadow  flex-valign clickable-element bg-img blazy-bg b-loaded" data-url="/discounts" style="background-image: url('/images/new.jpg');background-position: center;">

      </div>
    </div>
    <%  @cat_all.each do |cat|%>
        <div class="col-lg-4 d-flex" style="padding-bottom: 25px; height: 250px;">
          <div class="p-5 py-lg-6 overlay overlay-op-2  flex-ew hover-shadow  flex-valign clickable-element bg-img blazy-bg b-loaded" data-url="/category/<%=cat.cat_name_translit%>" style="background-image: url('/images/maincategory/<%=cat.cat_image%>');background-position: center;">
            <hr class="w-50 mx-auto hr-primary" style="border-top: 3px solid rgba(0, 0, 0, 0.1);">
            <h2 class="text-white text-center text-uppercase mb-0">
              <%=cat.cat_name%>
            </h2>
            <hr class="w-50 mx-auto hr-primary" style="border-top: 3px solid rgba(0, 0, 0, 0.1);">
          </div>
        </div>
    <%end%>
  </div>
</div>

<div class="container py-4 py-lg-6 text-center" >
  <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary">
  <h2 class="text-center text-uppercase font-weight-bold my-0">
    КОЛЛЕКЦИИ
  </h2>


  <hr class="mb-5 w-50 mx-auto">

  <div class="row">
    <% @collections.each do |coll| %>
        <div class="col-lg-4 d-flex" style="height: 200px;">
          <div class="p-5 py-lg-6  flex-ew mb-3 mb-lg-0 hover-shadow flex-valign clickable-element bg-img blazy-bg b-loaded" data-url="/collection/<%= coll.collection_name_translit %>" style="background-image: url('/images/collections/<%= coll.collection_image %>');background-position: center;">

          </div>
        </div>
    <%end%>
  </div>




</div>
<!-- Featured Products -->


<!-- Collections -->

<!-- Feature Blocks -->
<div class="bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-dark" data-bg-img="http://www.astroguide.ru/files/article/54064/main-image/1404_11.jpg"></div>
      <div class="col-lg-6 py-6">
        <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
        <h2 class="display-4 text-white text-uppercase mt-0 mb-5">
          Сувениры <span class="text-primary font-weight-bold">оптом</span>
        </h2>
        <div class="row mb-3">
          <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x op-8"></i>
          </div>
          <div class="col-10 col-md-11 text-grey">

            <p>Оптовый интернет-магазин подарков и сувениров «Лакшми» предлагает своим покупателям большой выбор
              товаров на любой вкус, бюджет и повод. У нас можно заказать традиционные сувениры или оригинальные презенты.
            </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x op-8"></i>
          </div>
          <div class="col-10 col-md-11 text-grey">

            <p>На сайте можно купить подарки оптом для реализации в своем магазине или для близких людей и коллег на
              Новый год, 8 Марта, День Победы и другие праздники. Решив купить сувениры оптом, с «Лакшми» вы
              сэкономите деньги и время на поиск, выбор и покупку презентов.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Latest trends block -->
<div class="bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 offset-lg-1 py-6">
        <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
        <h2 class="display-4  text-grey-dark text-uppercase mt-0 mb-5">
          Наш <span class="text-primary font-weight-bold">ассортимент</span>
        </h2>
        <div class="row mb-3">
          <div class="col-2 col-md-1 text-center">
          </div>
          <div class="col-10 col-md-11">
            <p>
            <ul style="list-style-type:square !important; ">
              <li>сувениры для мужчин и женщин, для бизнеса и интерьера: подарочные наборы «Сомелье», 3D-скульпторы, посуду, композиции из цветов и кристаллов и др.;</li>
              <li>фэншуй-продукцию для тех, кто заботится об энергетике в доме и офисе: ловушки снов, восточные фонтаны, амулеты и т. п.;</li>
              <li>галантерейные изделия: от зонтов до украшений для волос;</li>
              <li>игрушки для детей: куклы, лазерные указки, скутеры и проч.;</li>
              <li>настольные игры – интеллектуальные, семейные и для взрослой компании.</li>
            </ul>
            </p>

          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2 col-md-1 text-center">
          </div>

        </div>
      </div>
      <div class="col-lg-6 divider-diagonal divider-light" data-bg-img="https://timeforwoman.ru/upload/resize_cache/iblock/d6c/700_1000_1/Feng_Shui_beautifully_bokeh______d_4300x3047.jpg"></div>
    </div>
  </div>
</div>
<!-- Beach 2017 -->
<div class="bg-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="https://www.sunhome.ru/i/wallpapers/57/kitaiskii-fen-shui.960x540.jpg"></div>
      <div  class="col-lg-6 py-6">
        <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
        <h2 class="display-4  text-grey text-uppercase mt-0 mb-5">
          Наши <span class="text-white font-weight-bold">преимущества</span>
        </h2>
        <div class="row mb-3">
          <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-white icon-2x op-8"></i>
          </div>
          <div class="col-10 col-md-11 text-grey">
            <h4 class="font-weight-bold text-white text-uppercase">
              Широкий ассортимент
            </h4>
            <p>
              Купить сувениры в интернет-магазине «Лакшми» можно для личных
              (дни рождения, юбилеи, годовщины и т. д.), профессиональных (день учителя, бухгалтера и др.)
              или календарных праздников. На сайте регулярно обновляется и пополняется товарная линейка,
              поэтому вы всегда сможете купить подарки оптом в Москве или другом городе, идеально подходящие к поводу.
            </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-white icon-2x op-8"></i>
          </div>
          <div class="col-10 col-md-11 text-grey">
            <h4 class="font-weight-bold text-white text-uppercase">
              Доступные цены
            </h4>
            <p>
              Если вы хотите приобрести сувениры оптом дешево, следите за акциями,
              которые регулярно проводит наш интернет-магазин подарков в Москве. Оптовые цены действуют
              при заказе на сумму от 3000 рублей. Также вы можете получить единовременную скидку при покупке от
              20 000 рублей. Уточнить условия вы можете у менеджеров нашего магазина подарков оптом.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- New Products -->

</div>






