<%ordertotal = 0%>
<div id="page-header">
  <div class="container clearfix">
    <nav class="breadcrumb float-md-left">
      <a class="breadcrumb-item" href="/">ГЛАВНАЯ</a>
      <span class="breadcrumb-item active">СОСТОЯНИЕ ЗАКАЗА : <strong><%=@order.order_number%></strong></span> </nav>
  </div>
</div>
<div id="content" class="py-5">

  <div class="container">
    <div class="text-center mb-6">
      <h3>
        Статус заказа : <%=@order.order_status%>
      </h3>

    </div>
    <table width="100%">
      <tr>
        <td></td>
        <td>Название товара</td>
        <td>Артикул</td>
        <td>Количество товара</td>
        <td>Цена за ед.</td>
        <td>Общая стоимость</td>

      </tr>
      <%@order_items.each do |o|%>
          <tr>
            <td> <a href="/product/<%=o.item_name_translit%>"><img class="cart-img img-fluid" src="/images/items/<%=o.id%>/<%=o.item_image1 %>" ></a></td>
            <td><%=o.item_name%></td>
            <td><%=o.item_article%></td>
            <td><%=@order.order_items[o.id.to_s]%></td>
            <td>
              <%if o.item_discount > 0%>
                <%=o.item_opt_price - (o.item_opt_price * o.item_discount / 100)%> &#8381;
              <%else%>
                  <%= o.item_opt_price%> &#8381;
              <%end%>
            </td>
            <td>
              <%if o.item_discount > 0%>
                  <%=(o.item_opt_price - (o.item_opt_price * o.item_discount / 100)) * @order.order_items[o.id.to_s].to_i%> &#8381;
                  <%ordertotal = ordertotal + ((o.item_opt_price - (o.item_opt_price * o.item_discount / 100)) * @order.order_items[o.id.to_s].to_i )%>

            <%else%>
                  <%= o.item_opt_price.to_i * @order.order_items[o.id.to_s].to_i%> &#8381;
                  <%ordertotal = ordertotal + ( o.item_opt_price.to_i * @order.order_items[o.id.to_s].to_i)%>

            <%end%>

            </td>



          </tr>
      <%end%>
      <%if @order_discount%>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>СКИДКА ПО КОДУ</td>
            <td><%=@order_discount_code%></td>
            <td><%=ordertotal * @order_discount_value.to_i / 100 %> (<%=@order_discount_value%>%) &#8381;</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>ИТОГО</td>
            <td><%=ordertotal - (ordertotal * @order_discount_value.to_i / 100) %> &#8381;</td>
          </tr>
      <%else%>
          <tr style="background-color: #e9ecef;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>ИТОГО</td>
            <td><%=ordertotal %> &#8381;</td>
          </tr>
      <%end%>

    </table>

  </div>
</div>