
<div id="page-header">
  <div class="container clearfix">

    <nav class="breadcrumb float-md-left"> <a class="breadcrumb-item" href="/">ГЛАВНАЯ</a> <span class="breadcrumb-item active"><%= @page_type%></span> </nav>
  </div>
</div>
<div id="content" class="py-3 py-lg-6">
  <div class="container">

    <!-- Products grid -->



    <div class="row">
      <%@items.each do |item|%>
          <div class="col-lg-3">
            <!-- Product 2 -->
            <div id="item<%=item.id%>" class="card mb-4 product-card hover-shadow ">
              <%if item.item_new %>
                  <div class="card-ribbon card-ribbon-top card-ribbon-left bg-success text-white"> НОВИНКА </div>
              <%end%>
              <%if item.collection_id > 0 %>
                  <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white" style="    left: -95px !important;
                      width: 300px;
                      top: 36px;"> В КОЛЛЕКЦИИ </div>
              <%end%>
              <!-- Hover content
              <div class="overlay-hover-content overlay-op-7">
                <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase font-weight-bold mb-3 btn-lg"><i class="fa fa-cart-plus mr-2"></i> В корзину</a>
                <a href="shop-product.html" class="text-white text-sm">Подробнее о товаре</a> <a href="#" class="text-white text-sm">Добавить в закладки</a>

              </div>-->
              <!-- Image & price content -->
              <div class="pos-relative">
                <a href="/product/<%=item.item_name_translit%>">
                  <img class="card-img-top img-fluid" src="/images/items/<%=item.id%>/<%=item.item_image1%>" alt="Купить <%=item.item_name%> в Москве по оптовым ценам">
                </a>
                <%if item.item_discount > 0 %>
                    <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-r mt-2 mr-2 persist">
                 - <%=item.item_discount%> %
                </span>
                <%else %>

                <%end%>

              </div>
              <!-- Content -->
              <div class="card-body text-center ">
                <div style="height: 60px; padding-bottom: 10px;">
                  <a style="text-decoration: none; color: #3A4A59; font-weight: bold;" href="/product/<%=item.item_name_translit%>"> <%=item.item_name%></a>
                </div>
                <hr/>
                <small class="text-muted text-uppercase"><span style="color: #3A4A59;"> Артикул :<span class="text-muted"> <%= item.item_article%></span></span></small>
                <%if session[:cart].nil?%>
                <%else%>
                    <%if  session[:cart].keys.include? item.id.to_s%>
                        <br>
                        <p align="center" class="text-muted text-xs text-primary"> В КОРЗИНЕ <%=session[:cart][item.id.to_s]%> ШТ.</span> </p>
                    <%end%>
                <%end%>
                <hr/>
                <div id="spinner_<%=item.id%>" ></div>
                <div id="cart_buttons_<%=item.id%>" class="row">
                  <%if item.item_presents%>

                      <div class="col-md-5 ">

                        <input type="number" id="tocartvalue<%=item.id%>" name=""  min="1"  value="1" class=" form-control">

                      </div>


                      <div class="col-md-4 ">

                        <%if session[:cart].nil?%>
                            <a style="margin-top: 3px;"  href="#" id="addbutton<%=item.id%>" onclick="return sethref(<%=item.id%>);" class="btn btn-outline-primary" ><span class="fa fa-cart-plus"></span><span  style="font-size: 13px;"> В корзину</span></a>
                        <% else %>
                            <%if session[:cart].keys.include? item.id.to_s%>
                                <a style="margin-top: 3px;"  href="#" id="addbutton<%=item.id%>" onclick="return sethref(<%=item.id%>);" class="btn btn-primary" ><span class="fa fa-cart-plus"></span><span  style="font-size: 13px;"> Добавить еще</span></a>


                            <% else %>
                                <a style="margin-top: 3px;" href="#" id="addbutton<%=item.id%>" onclick="return sethref(<%=item.id%>);" class="btn btn-primary" ><span class="fa fa-cart-plus"></span><span  style="font-size: 13px;"> В корзину</span></a>
                            <% end %>
                        <% end %>

                      </div>

                  <%else%>
                      <div class="col-md-12" >
                        <a href="javascript:void(0)" ><span class="fas fa-lock text-center"></span><span style="font-size: 13px;"> НЕТ В НАЛИЧИИ</span></a>

                      </div>
                  <%end%>



                </div>
                <%if session[:active]%>
                    <% if @wishlist.nil?  %>
                        <a style="color: #3A4A59;"  href="/wishlist/<%=item.id%>"  id="wish<%=item.id%>button"  data-remote="true"><span id="wish<%=item.id%>icon" class="far fa-heart"></span> Добавить в закладки</a>

                    <%else%>
                        <% if @wishlist.include?(item.id.to_s) %>
                            <span class="fa fa-heart text-primary"></span>
                        <% else %>
                            <span id="wish<%=item.id%>button_off" style="display: none;" class="fa fa-heart text-primary"></span>
                            <a style="color: #3A4A59;"  href="/wishlist/<%=item.id%>"  id="wish<%=item.id%>button"  data-remote="true"><span id="wish<%=item.id%>icon" class="far fa-heart"></span></a>
                        <%end%>
                    <% end %>
                <%end%>



              </div>

              <div class="card-footer text-center">
                <small class="text-muted text-uppercase"><span style="color: #3A4A59;"> Цена :</span></small>
                <%if item.item_discount > 0 %>
                    <del class="op-5">&#8381; <%=item.item_opt_price%></del>
                    /
                    <strong> <%=item.item_opt_price - (item.item_opt_price * item.item_discount / 100)%> &#8381;</strong>
                <%else %>
                    <strong> <%=item.item_opt_price%> &#8381;</strong>
                <%end%>
                <br/>

                <small class="text-muted text-uppercase"><span style="color: #3A4A59;">  Оптовая цена :</span></small>
                <strong><%=item.item_opt_price%> &#8381; </strong>

                <a href="#" data-toggle="tooltip" title="" data-original-title="Цена актуальна при общей стоимости заказа свыше 5 000 руб."><i style="color: #3A4A59;" class="fa fa-info-circle fa-lg "></i></a>
                <% if session[:admin]%>
                    <hr>
                    <a href="/admin/edititem?item_id=<%=item.id%>" class="btn btn-primary">Редактировать</a>
                <%end%>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <!-- Pagination -->
    <div class="digg_pagination">

      <%= will_paginate @items,:previous_label => t("<<"), :next_label => t(">>"), :container => false %>
    </div>
  </div>


  <!-- Products sidebar -->




</div>
<script language="JavaScript">

    function theFunction (id) {
        $("#cart_buttons_"+id).css('display','none');
        $("#spinner_"+id).addClass('spinner');
        return true;
    }


</script>