<div id="page-header">
  <div class="container clearfix">

    <nav class="breadcrumb float-md-left">
      <a class="breadcrumb-item" href="/">ГЛАВНАЯ</a>
      <a class="breadcrumb-item" href="/category/<%= @parent_cat.cat_name_translit%>"><%= @parent_cat.cat_name.mb_chars.upcase%></a>
      <span class="breadcrumb-item active"><%= @subcat.subcat_name.mb_chars.upcase%></span>
    </nav>
  </div>
</div>
<div id="content" class="py-3 py-lg-6">
  <div class="container">
    <div class="row">
      <!-- Products grid -->
      <div class="col-lg-9 order-lg-2">
        <div class="row">

          <div class="col-lg-12">
            <form class="form-inline  text-sm">
              <label class="control-label mr-2">Сортировать:</label>
              <select class="form-control form-control-sm">
                <option value="#">Cо скидкой</option>
                <option value="#">Новинки</option>
                <option value="#">Цена (Ниже &gt; Выше)</option>
                <option value="#" >Цена (Выше &gt; Ниже)</option>
                             </select>
              <label class="control-label mr-2 ml-lg-3">Показывать:</label>
              <select class="form-control form-control-sm">
                <option value="#">15</option>
                <option value="#">20</option>
                <option value="#">25</option>
                <option value="#">30</option>
                <option value="#">35</option>
                <option value="#">40</option>
                <option value="#">45</option>
                <option value="#">50</option>
              </select>
              <button style="margin-left: 15px;" type="submit" class="btn btn-primary ">Применить</button>
            </form>
          </div>

        </div>
        <hr class="my-4" >


        <div class="row">
          <%@subcat.items.each do |item|%>
          <div class="col-lg-4">
            <!-- Product 2 -->
            <div class="card mb-4 product-card">
              <!-- Hover content
              <div class="overlay-hover-content overlay-op-7">
                <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase font-weight-bold mb-3 btn-lg"><i class="fa fa-cart-plus mr-2"></i> В корзину</a>
                <a href="shop-product.html" class="text-white text-sm">Подробнее о товаре</a> <a href="#" class="text-white text-sm">Добавить в закладки</a>

              </div>-->
              <!-- Image & price content -->
              <div class="pos-relative">
                <img class="card-img-top img-fluid" src="/images/items/<%=item.id%>/<%=item.item_image1%>" alt="Купить <%=item.item_name%> в Москве по оптовым ценам">

                <%if item.item_discount > 0 %>
                    <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-r mt-2 mr-2 persist">
                 - <%=item.item_discount%> %
                </span>
                <%else %>

                <%end%>

              </div>
              <!-- Content -->
              <div class="card-body text-center ">
                <a href=""> <%=item.item_name%></a>
                <hr/>
                <a href="/addtocart/<%=item.id%>" data-remote="true"><span class="fa fa-cart-plus"></span></a>


                |
                <a href="#"><span class="fa fa-heart"></span></a>


              </div>
              <div class="card-footer text-center">
               Цена :
                <%if item.item_discount > 0 %>
                    <del class="op-5">&#8381; <%=item.item_price%></del>
                    /
                    <%=item.item_price - (item.item_price * item.item_discount / 100)%> &#8381;
                <%else %>
                     <%=item.item_price%> &#8381;
                <%end%>
               <br/>

            Оптовая цена :  <%=item.item_opt_price%> &#8381; <a href="#" data-toggle="tooltip" title="" data-original-title="При заказе от :  <%=item.item_opt_price_count%> штук"><i class="fa fa-info-circle fa-lg text-info"></i></a>
              </div>
            </div>
          </div>
        <% end %>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Products sidebar -->
      <div class="col-lg-3 order-lg-1">

        <!-- Sections Menu-->
        <ul class="nav nav-section-menu mb-4 py-3">
          <li class="nav-header"><i class="fas fa-bars mr-2" style="font-size: 15px;"></i>КАТАЛОГ ТОВАРОВ</li>
          <%@cat_all.each do |cat|%>
              <li>
                <a href="#<%=cat.cat_name_translit%>" data-toggle="collapse" class="nav-link text-uppercase text-slab active show">
                  <%=cat.cat_name.mb_chars.upcase%>

                  <i class="fa fa-angle-right"></i>
                </a>
                <ul class="nav nav-section-menu collapse " id="<%=cat.cat_name_translit%>">
                  <%cat.subcategories.each do |cs|%>
                      <li><a href="/subcategory/<%=cs.subcat_name_translit%>" id="<%=cs.subcat_name_translit%>" class="nav-link"><%=cs.subcat_name.mb_chars.upcase%></a></li>
                  <% end %>
                </ul>
              </li>
          <% end %>
        </ul>
        <div class="p-3 overlay overlay-op-5 rounded flex-valign mb-4 clickable-element bg-img blazy-bg b-loaded" data-css="{&quot;background-position&quot;:&quot;center bottom&quot;}" data-url="shop-product.html" style="background-position: center bottom; background-image: url(http://lakshmi888.ru/image/amulet.png);">
          <h4 class="text-white mb-0">
            Новая
          </h4>
          <p class="text-white mb-0">коллекция</p>
          <hr class="hr-lg my-2 w-20 mx-auto hr-primary">
        </div>


      </div>
    </div>
  </div>
  <hr class="my-5">
  <div class="container">
    <%=@subcat.subcat_description.html_safe %>

  </div>
</div>
<script language="JavaScript">
    $( document ).ready(function() {
        $('#<%=@parent_cat.cat_name_translit %>').addClass('show');
        $('#<%=@subcat.subcat_name_translit %>').addClass('text-primary');
    });
</script>