
<div id="page-header">
  <div class="container clearfix">

    <nav class="breadcrumb float-md-left"> <a class="breadcrumb-item" href="/">ГЛАВНАЯ</a> <span class="breadcrumb-item active"><%= @cat.cat_name.mb_chars.upcase%></span> </nav>
  </div>
</div>
<div id="content" class="py-3 py-lg-6">
  <div class="container">
    <div class="row">
      <%@cat.subcategories.order('subcat_order ASC').each do |subcat|%>
          <div class="col-lg-3 d-flex" style="padding-bottom: 25px; height: 250px;">
            <div class="p-5 py-lg-6 overlay overlay-op-5  flex-ew  flex-valign clickable-element bg-img blazy-bg b-loaded" data-url="/subcategory/<%=subcat.subcat_name_translit%>" style="background-image: url('/images/subcategory/<%=subcat.subcat_image%>');background-position: center;">
              <hr class="w-50 mx-auto hr-primary" style="border-top: 3px solid rgba(0, 0, 0, 0.1);">
              <h2 style="font-size: 28px !important; font-weight: normal !important;" class="text-white text-center text-uppercase mb-0">
                <%=subcat.subcat_name%>
              </h2>
              <hr class="w-50 mx-auto hr-primary" style="border-top: 3px solid rgba(0, 0, 0, 0.1);">
            </div>
          </div>
      <%end%>
    </div>
  </div>
  <hr class="my-5">
  <div class="container">
  <%=@cat.cat_description.html_safe %>

  </div>
</div>


<script language="JavaScript">
    function clickIE4(){
        if (event.button==2){
            alert(message);
            return false;
        }
    }
    function clickNS4(e){
        if (document.layers||document.getElementById&&!document.all){
            if (e.which==2||e.which==3){
                alert(message);
                return false;
            }
        }
    }
    if (document.layers){
        document.captureEvents(Event.MOUSEDOWN);
        document.onmousedown=clickNS4;
    }
    else if (document.all&&!document.getElementById){
        document.onmousedown=clickIE4;
    }
    document.oncontextmenu=new Function("return false")


</script>