<div id="page-header">
  <div class="container clearfix">

    <nav class="breadcrumb float-md-left">
      <a class="breadcrumb-item" href="/">ГЛАВНАЯ</a>
      <a class="breadcrumb-item" href="/category/<%= @maincat.cat_name_translit%>"><%= @maincat.cat_name.mb_chars.upcase%></a>
      <a class="breadcrumb-item" href="/subcategory/<%= @subcat.subcat_name_translit%>"><%= @subcat.subcat_name.mb_chars.upcase%></a>
      <span class="breadcrumb-item active"><%= @item.item_name.mb_chars.upcase%></span> </nav>
  </div>
</div>

<div id="content" class="pt-3 pt-lg-6 pb-lg-0">
  <div class="container">
    <!-- Product view -->
    <div class="row">
      <div class="col-lg-6">
        <!-- Shop product carousel Uses Owl Carousel plugin All options here are customisable from the data-owl-carousel-settings="{OBJECT}" item via data- attributes: http://www.owlgraphic.com/owlcarousel/#customizing ie. data-settings="{"items": "4", "lazyLoad":"true", "navigation":"true"}" -->
        <div class="product-gallery pos-relative">
          <%if @item.item_discount > 0 %>
              <div class="bg-primary text-white rounded pos-absolute pos-zindex-2 pos-r mt-2 ml-2 py-2 px-3"> - <%=@item.item_discount%> %</div>
          <%end%>

          <div class="owl-carousel owl-nav-over" id="product-gallery" data-toggle="owl-carousel" data-owl-carousel-settings='{"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'>
            <a href="#" data-img-zoom="/images/items/<%= @item.id%>/<%= @item.item_image1%>">
              <img src="/images/items/<%= @item.id%>/<%= @item.item_image1%>" alt="Приобрести оптом в Москве <%= @item.item_name%>" class="lazyOwl img-fluid" width="200" />
            </a>

            <%unless @item.item_image2 == 'none'%>
                <a href="#" data-img-zoom="/images/items/<%= @item.id%>/<%= @item.item_image2%>">
                  <img src="/images/items/<%= @item.id%>/<%= @item.item_image2%>" alt="Большой ассортимент <%= @item.item_name%>" class="lazyOwl img-fluid" width="200" />
                </a>
            <%end%>

            <%unless @item.item_image3 == 'none'%>
                <a href="#" data-img-zoom="/images/items/<%= @item.id%>/<%= @item.item_image3%>">
                  <img src="/images/items/<%= @item.id%>/<%= @item.item_image3%>" alt="Купить <%= @item.item_name%> со скидкой" class="lazyOwl img-fluid" width="200" />
                </a>
            <%end%>

            <%unless @item.item_image4 == 'none'%>
                <a href="#" data-img-zoom="/images/items/<%= @item.id%>/<%= @item.item_image4%>">
                  <img src="/images/items/<%= @item.id%>/<%= @item.item_image4%>" alt="Оптовая цена на <%= @item.item_name%>" class="lazyOwl img-fluid" width="200" />
                </a>
            <%end%>

          </div>
          <div class="owl-thumbs" data-toggle="owl-carousel" data-owl-carousel-thumbs="#product-gallery" data-owl-carousel-settings='{"nav":false, "dots":false, "margin":5}'>

            <%unless @item.item_image2 == 'none'%>
                <a class="owl-thumb">
                  <img class="img-fluid" src="/images/items/<%= @item.id%>/<%= @item.item_image1%>" alt="Всегда ассортимент <%= @item.item_name%>">
                </a>
                <a class="owl-thumb">
                  <img class="img-fluid" src="/images/items/<%= @item.id%>/<%= @item.item_image2%>" alt="Большой выбор <%= @item.item_name%>">
                </a>
            <%end%>
            <%unless @item.item_image3 == 'none'%>
                <a class="owl-thumb">
                  <img class="img-fluid" src="/images/items/<%= @item.id%>/<%= @item.item_image3%>" alt="Всгда в наличии <%= @item.item_name%>">
                </a>
            <%end%>
            <%unless @item.item_image4 == 'none'%>
                <a class="owl-thumb">
                  <img class="img-fluid" src="/images/items/<%= @item.id%>/<%= @item.item_image4%>" alt="Низкие цены <%= @item.item_name%>">
                </a>
            <%end%>

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card product-card mb-4" style="border: none !important;">
          <!-- Ribbon -->

          <%if @item.item_new %>
              <div class="card-ribbon card-ribbon-top card-ribbon-right bg-success text-white"> НОВИНКА </div>
          <%end%>
          <%if @item.collection_id > 0 %>
              <div class="card-ribbon card-ribbon-top card-ribbon-right bg-primary text-white" style="    left: 340px !important;
                  width: 300px;
                  top: 36px;"> В КОЛЛЕКЦИИ </div>
          <%end%>

          <!-- Content -->
          <div class="card-body p-4 pos-relative">
            <!-- Product details -->
            <p class="text-muted text-uppercase text-xs mb-0"><span class="text-primary"><%= @maincat.cat_name.mb_chars.upcase%></span> / <%= @subcat.subcat_name.mb_chars.upcase%></p>
            <h2 class="card-title mb-2">
              <%= @item.item_name%>
            </h2>

            <h5 class="font-weight-bold ">

              Цена :
              <%if @item.item_discount > 0 %>
                  <del class="op-5">&#8381; <%=@item.item_price%></del>
                  /
                  <%=@item.item_price - (@item.item_price * @item.item_discount / 100)%> &#8381;
              <%else %>
                  <%=@item.item_price%> &#8381;
              <%end%>
            </h5>
            <h5 class="font-weight-bold text-primary">

              Оптовая цена :  <%=@item.item_opt_price%> &#8381; <a href="#" data-toggle="tooltip" title="" data-original-title="При заказе от :  <%=@item.item_opt_price_count%> штук"><i class="fa fa-info-circle fa-lg "></i></a>

            </h5>



            <hr class="my-3">
            <%if @item.item_description!=''%>
            <%= @item.item_description.html_safe %>
            <hr class="my-3 ">
                <%end%>
            <!-- Cart options/links fa fa-heart -->
            <div class="product-options row mb-4">
              <div class="col-md-12 text-sm text-uppercase"><strong>Артикул :</strong> <%=@item.item_article%></div>
              <div class="col-md-12 text-sm text-uppercase"><strong>Вес : </strong><%=@item.item_weight%></div>
              <div class="col-md-12 text-sm text-uppercase"><strong>Цвет : </strong><%=@item.item_color%></div>
              <div class="col-md-12 text-sm text-uppercase"><strong>Материал : </strong><%=@item.item_material%></div>

              <div class="col-md-12 text-sm text-uppercase">
                <table>
                  <tr>
                    <td style="width: 70px;text-align: center;"><strong>Длина</strong></td>
                    <td style="width: 85px;text-align: center;"><strong>Ширина</strong></td>
                    <td style="width: 70px;text-align: center;"><strong>Высота</strong></td>
                  </tr>
                  <tr>
                    <td style="text-align: center;"><%=@item.item_size_d%></td>
                    <td style="text-align: center;"><%=@item.item_size_sh%></td>
                    <td style="text-align: center;"><%=@item.item_size_v%></td>
                  </tr>
                </table>
              </div>


              <div class="col-md-12 text-sm text-uppercase">

              </div>

            </div>
            <hr class="my-3">
            <div  class="product-options row mt-3">
              <%if @item.item_presents%>
              <div class="col-md-4 mb-3">
                <div class="input-group input-group-quantity input-group-sm" data-toggle="quantity">
                    <span class="input-group-append">
                      <input type="button" value="-"  class="btn btn-secondary quantity-down" field="quantity">
                    </span>
                  <input type="number" id="tocartvalue" name="quantity"   value="1" class="quantity form-control">
                  <span class="input-group-append">
                      <input type="button" value="+"  class="btn btn-secondary quantity-up" field="quantity">
                    </span>
                </div>
              </div>

              <div class="col-md-4 mb-3">

                    <%if session[:cart].nil?%>
                        <a  href="#" id="addbutton" onclick="return sethref();" class="btn btn-primary" ><span class="fa fa-cart-plus"></span><span  style="font-size: 13px;"> Добавить в корзину</span></a>
                    <% else %>
                        <%if session[:cart].keys.include? @item.id.to_s%>
                            <a  href="#" id="addbutton" onclick="return sethref();" class="btn btn-primary" ><span class="fa fa-cart-plus"></span><span  style="font-size: 13px;"> Добавить еще</span></a>

                            <p align="center" class="text-muted text-xs d-inline d-none d-lg-block"> В КОРЗИНЕ <%=session[:cart][@item.id.to_s]%> ЕДИНИЦ</span> </p>
                        <% else %>
                            <a href="#" id="addbutton" onclick="return sethref();" class="btn btn-primary" ><span class="fa fa-cart-plus"></span><span  style="font-size: 13px;"> Добавить в корзину</span></a>
                        <% end %>
                    <% end %>

              </div>
              <% end %>
              <div class="col-md-4 mb-3">
                <% if @wishlist.nil? %>
                    <a id="wish<%=@item.id%>button" href="/wishlist/<%=@item.id%>" class="btn btn-link btn-sm"   data-remote="true"><span id="wish<%=@item.id%>icon" class="far fa-heart"></span> Добавить в закладки</a>
                <% else %>
                    <% if @wishlist.include?(@item.id.to_s) %>
                        <a  href="javascript:void(0)" class="btn btn-link btn-sm" ><span  class="fa fa-heart"></span> В закладках</a>
                    <% else %>
                        <a style="display: none;" id="wish<%=@item.id%>button_off" href="javascript:void(0)" class="btn btn-link btn-sm" ><span  class="fa fa-heart"></span> В закладках</a>
                        <a id="wish<%=@item.id%>button" href="/wishlist/<%=@item.id%>" class="btn btn-link btn-sm"   data-remote="true"><span id="wish<%=@item.id%>icon" class="far fa-heart"></span> Добавить в закладки</a>
                    <% end %>
                <% end %>

              </div>
            </div>


            </div>



          </div>
        <div style="background-color: #fff; padding: 20px;margin-bottom: 20px;">

          <hr>
        коллекция
          <a href="#" style="margin-left: 20px;">Открыть коллекцию</a>
        </div>
        <div style="background-color: #fff; padding: 20px;">
          <table style="margin-left: 20px;">
            <tbody>
            <tr>
              <td style="text-align: right;"><img src="/images/4.png"></td>
              <td style="padding-left: 15px;"> <h4>Доставка заказов</h4>

              </td>
            </tr>
            </tbody>
          </table>
          <hr>
          <ul>
            <li><div>Самовывоз из нашего <a target="_blank" href="https://npravdina.ru/o-tsentre/show-room/">шоу-рума</a></div></li>
            <li><div>Доставка по Москве 300 руб, при покупке <span class="text-primary">от 10 000 руб - бесплатно</span></div></li>
            <li><div>Доставка по России 300 руб, при покупке <span class="text-primary">от 10 000 руб - бесплатно</span></div></li>
            <li><div>Доставка зарубеж - по индивидуальному просчету</div></li>
          </ul>
          <a href="/dostavka/" style="margin-left: 20px;">Подробнее про доставку</a>				</div>
      </div>
    </div>

  </div>
  <!-- /container -->
  <hr class="mt-6 mb-0">
  <div class="bg-light py-5">
    <!-- Related Products -->
    <div class="container py-4">
      <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary">
      <h2 class="text-center text-uppercase font-weight-bold my-0">
        Просмотренные товары
      </h2>
      <hr class="mb-3 w-50 mx-auto">
      <div class="mt-4 owl-nav-over owl-nav-over-lg" data-toggle="owl-carousel" data-owl-carousel-settings='{"responsive":{"0":{"items":1}, "600":{"items":2}, "980":{"items":4}}, "margin":10, "nav":true, "dots":false}'>

            <%@vieweditems.each do |item|%>
            <div class="card mb-4 product-card hover-shadow ">
              <%if item.item_new %>
                  <div class="card-ribbon card-ribbon-top card-ribbon-left bg-success text-white"> НОВИНКА </div>
              <%end%>
              <%if item.collection_id > 0 %>
                  <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white" style="    left: -95px !important;
                      width: 300px;
                      top: 36px;"> В КОЛЛЕКЦИИ </div>
              <%end%>
              <!-- Hover content
              <div class="overlay-hover-content overlay-op-7">
                <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase font-weight-bold mb-3 btn-lg"><i class="fa fa-cart-plus mr-2"></i> В корзину</a>
                <a href="shop-product.html" class="text-white text-sm">Подробнее о товаре</a> <a href="#" class="text-white text-sm">Добавить в закладки</a>

              </div>-->
              <!-- Image & price content -->
              <div class="pos-relative">
                <a href="/product/<%=item.item_name_translit%>">
                  <img class="card-img-top img-fluid" src="/images/items/<%=item.id%>/<%=item.item_image1%>" alt="Купить <%=item.item_name%> в Москве по оптовым ценам">
                </a>
                <%if item.item_discount > 0 %>
                    <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-r mt-2 mr-2 persist">
                 - <%=item.item_discount%> %
                </span>
                <%else %>

                <%end%>

              </div>
              <!-- Content -->
              <div class="card-body text-center ">
                <div style="height: 60px; padding-bottom: 10px;">
                  <a style="text-decoration: none; color: #3A4A59; font-weight: bold;" href="/product/<%=item.item_name_translit%>"> <%=item.item_name%></a>
                </div>
                <hr/>
                <small class="text-muted text-uppercase"><span style="color: #3A4A59;"> Артикул :<span class="text-muted"> <%= item.item_article%></span></span></small>
                <hr/>
                <div id="spinner_<%=item.id%>" ></div>
                <div id="cart_buttons_<%=item.id%>">
                  <%if item.item_presents%>
                      <%if session[:cart].nil?%>
                          <a style="color: #3A4A59;" href="/addtocart/<%=item.id%>" id="item-<%=item.id%>" onclick="return theFunction(<%=item.id%>);" data-remote="true"><span id="cart_state_<%=item.id%>" class="fa fa-cart-plus"></span><span id="cart_state_txt_<%=item.id%>" style="font-size: 13px;"> ДОБАВИТЬ</span></a>

                      <%else%>
                          <%if session[:cart].keys.include? item.id.to_s%>

                              <a style="color: #3A4A59;" href="/addtocart/<%=item.id%>" id="item-<%=item.id%>" onclick="return theFunction(<%=item.id%>);" data-remote="true"><span id="cart_state_<%=item.id%>" class="fas fa-cart-arrow-down"></span><span id="cart_state_txt_<%=item.id%>" style="font-size: 13px;"> ДОБАВИТЬ ЕЩЕ</span></a>

                          <%else%>
                              <a style="color: #3A4A59;" href="/addtocart/<%=item.id%>" id="item-<%=item.id%>" onclick="return theFunction(<%=item.id%>);" data-remote="true"><span id="cart_state_<%=item.id%>" class="fa fa-cart-plus"></span><span id="cart_state_txt_<%=item.id%>" style="font-size: 13px;"> ДОБАВИТЬ</span></a>
                          <%end%>
                      <%end%>
                  <%else%>
                      <a href="javascript:void(0)" ><span class="fas fa-lock"></span><span style="font-size: 13px;"> НЕТ В НАЛИЧИИ</span></a>
                  <%end%>


                  |

                  <% if @wishlist.nil? %>
                      <a style="color: #3A4A59;"  href="/wishlist/<%=item.id%>"  id="wish<%=item.id%>button" onclick="return theFunction(<%=item.id%>); " data-remote="true"><span id="wish<%=item.id%>icon" class="far fa-heart"></span></a>

                  <%else%>
                      <% if @wishlist.include?(item.id.to_s) %>
                          <span class="fa fa-heart text-primary"></span>
                      <% else %>
                          <span id="wish<%=item.id%>button_off" style="display: none;" class="fa fa-heart text-primary"></span>
                          <a style="color: #3A4A59;"  href="/wishlist/<%=item.id%>"  id="wish<%=item.id%>button" onclick="return theFunction(<%=item.id%>); " data-remote="true"><span id="wish<%=item.id%>icon" class="far fa-heart"></span></a>
                      <%end%>
                  <% end %>

                </div>

              </div>

              <div class="card-footer text-center">
                <small class="text-muted text-uppercase"><span style="color: #3A4A59;"> Цена :</span></small>
                <%if item.item_discount > 0 %>
                    <del class="op-5">&#8381; <%=item.item_price%></del>
                    /
                    <strong> <%=item.item_price - (item.item_price * item.item_discount / 100)%> &#8381;</strong>
                <%else %>
                    <strong> <%=item.item_price%> &#8381;</strong>
                <%end%>
                <br/>

                <small class="text-muted text-uppercase"><span style="color: #3A4A59;">  Оптовая цена :</span></small>
                <strong><%=item.item_opt_price%> &#8381; </strong>

                <a href="#" data-toggle="tooltip" title="" data-original-title="При заказе от :  <%=item.item_opt_price_count%> штук"><i style="color: #3A4A59;" class="fa fa-info-circle fa-lg "></i></a>
                <% if session[:admin]%>
                    <hr>
                    <a href="/admin/edititem?item_id=<%=item.id%>" class="btn btn-primary">Редактировать</a>
                <%end%>
              </div>
            </div>
            <!-- Product -->
        <% end %>
      </div>




      </div>

  </div>
</div>

<script language="JavaScript">

    function sethref() {
        tocartvalue = $('#tocartvalue').val();
       $('#addbutton').attr('href','/addtocartalt/<%=@item.id%>/' + tocartvalue);
        return true;
    }
</script>