<p>Ваш заказ был успешно размещен.</p>
<p> Код заказа: <strong><%=@code%></strong> </p>
<p>Для просмотра статуса заказа Вы можете воспользоваться ссылкой</p>
<hr>
<p>Ваш заказ :</p>
<table style="border-collapse: collapse; width: 600px;" >
  <thead>
  <tr>

    <th style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">Название</th>
    <th style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5; ">Цена</th>
    <th style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5; ">Количество</th>
    <th style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">Итог</th>
  </tr>
  </thead>
  <tbody>


    <%@cart_itemss.each do |cc|%>

    <tr>
      <td style="padding: 3px; border: 1px solid #999; text-align: center; "><%= cc.item_name%></td>
      <td style="padding: 3px; border: 1px solid #999; text-align: center; ">
        <%if check_cart?  %>

          <%= cc.item_opt_price%> &#8381;
          <%@item_total = cc.item_opt_price* @cart_items[cc.id.to_s]%>
          <%@cart_total = @cart_total + (cc.item_opt_price* @cart_items[cc.id.to_s])%>


        <%else%>
          <%if cc.item_discount > 0%>
            <%@item_total = (cc.item_price - (cc.item_price * cc.item_discount / 100)) * @cart_items[cc.id.to_s]%>
            <%=cc.item_price - (cc.item_price * cc.item_discount / 100)%> &#8381;
            <%@cart_total = @cart_total + (cc.item_price - (cc.item_price * cc.item_discount / 100))* @cart_items[cc.id.to_s]%>


          <%else%>

            <%= cc.item_price%> &#8381;
            <%@item_total = cc.item_price* @cart_items[cc.id.to_s]%>
            <%@cart_total = @cart_total + (cc.item_price* @cart_items[cc.id.to_s])%>


          <%end%>
        <%end%>
      </td>
      <td style="padding: 3px; border: 1px solid #999; text-align: center; "><%=@cart_items[cc.id.to_s]%> ед.</td>
      <td style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;"><%=@item_total%> &#8381;</td>
    </tr>



    <%end%>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">Всего : <%=@cart_total%> &#8381;</td>
    </tr>
   <%unless @discount == '0' || @discount.nil?%>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">Скидка по промо-коду : <%=@discount%> %</td>
  </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">Итого со скидкой : <%= @cart_total.to_i - (@cart_total.to_i * @discount.to_i) /100 %> &#8381;</td>
    </tr>
  <% end %>
  </tbody>
  </table>

